# Java/Maven
# Build output
/target/

# Maven specific
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs and editors
.classpath
.project
.settings/
.idea/
*.iml
.vscode/

# OS files
.DS_Store

# Logs
logs/
*.log

# Compiled class files
*.class

# Other common build dirs
/bin/
/out/
